client/client.opensdf
client/client.sdf
client/client.sln
client/client.v11.suo
client/client.vcxproj
server/server.opensdf
server/server.sdf
client/client.vcxproj.filters
server/server.sln
server/server.v11.suo
server/server.vcxproj
server/server.vcxproj.filters